#calendar table {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#calendar table caption {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

#calendar a img {
    border: none;
}

#calendar table td {

    border: 1px solid #999;
    padding: 5px;
    width: 100px;
    height: 75px;
}

#calendar tr.weekdays td {
    color: #0070C0;
    text-align: center;
    height: 30px;
}

#calendar tr.prev_next td {
    border: none;
    text-align: center;
}

#calendar span.day_number {
    background: #c7c7c7;
    padding: 5px;
    font-weight: bold;
    float: right;
    margin: -42px -5px 0 0;
    width: 20px;
    text-align: center;
}

#calendar span.other_month {
    color: #aaa;
    padding:5px;
    font-weight:bold;
    float:right;
    margin:-42px -5px 0 0;
    width:20px;
    text-align:center;
}
