

header {
	height: 100px;
	background-image: url(../images/spaceNeedle_Large.png); 
	background-repeat: no-repeat;
	background-color: #D1E7EE;
}

h1 {
	margin-left: 40px;
	padding-top: 25px;
	font-family: "Lucida Handwriting", "Brush Script", cursive;
	font-size: 50px;
}




















